<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Welcome to Moorem, <%= @con.name %></h3>

<p>
  Thanks for contacting us.<br/>
</p>

<p>
  <%= @con.message %>.
</p>

<p>Thanks for contact and have a great day!</p>
</body>
</html>