<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Dear Moorem Admin, </h1>

<p>
  <%= @newsletter.email %> has subscribed for NewsLetter from Moorem <br/>
</p>

</body>
</html>