<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Welcome to Moorem</h3>

<p>
  Thanks for signing up to our NewsLetter.<br/>
</p>

<p>
  Here at Moorem we work on Web Site Design,Development and Maintenance.<br/>
  We work on Ruby on Rails, Mobile Apps.
</p>

<p>Thanks for signing to our Newsletter and  have a great day!</p><br/><br/>
</body>
</html>