<div class="footer_responsive_space">&nbsp;</div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-ribon">
        <span>Get in Touch</span>
      </div>
      <div class="col-md-3">
        <h4>About Us</h4>

        <p>Moorem is an Agile Web and Mobile application Development company. Our specialty is Ruby On Rails, Android,
          iPhone and Social Apps and our clients think we’re pretty good at it.</p>
      </div>
      <div class="col-md-3">
        <h4>Latest Tweet</h4>

        <div id="tweets"></div>
      </div>
      <div class="col-md-4">
        <div class="contact-details">
          <h4>Contact Us</h4>
          <ul class="contact">
            <li>
              <p><i class="icon-map-marker margin-bottom-35"></i> <strong>Address:</strong> #538, 2nd Floor, 14th Cross,
                3rd Block,
                ViswaPriya Layout, Begur Main Road, Bangalore, India - 560068</p></li>
            <li><p><i class="icon-phone"></i> <strong>Phone:</strong> +91 80 25745444</p></li>
            <li><p><i class="icon-envelope"></i> <strong>Email:</strong>
              <a href="mailto:contact@moorem.com">contact@moorem.com</a></p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Follow Us</h4>

        <div class="social-icons">
          <ul class="social-icons">
            <li class="facebook">
              <a href="https://www.facebook.com/mooremtech" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a>
            </li>
            <li class="twitter">
              <a href="https://twitter.com/mooremtech" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a>
            </li>
            <li class="linkedin">
              <a href="http://www.linkedin.com/company/moorem-technologies-pvt-ltd" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= link_to (image_tag 'logo-small.png', :alt => 'Moorem Technology Private Limited', class: 'logo img-responsive margin-right-10 pull-left'), root_path %>
          <div class="padding-top-15">
            <p class="white">© Copyright 2014 by Moorem Technologies Pvt. Ltd. All Rights Reserved.</p>
          </div>
        </div>
        <div class="col-md-4 margin-top-18">
          <nav id="sub-menu">
            <ul>
              <li><%= link_to "Contact Us", contact_pages_path %></li>
              <li><%= link_to "Sitemap", sitemap_pages_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--twitter latest-->
<script type="text/javascript">
  var twitterFetcher = function () {
    var d = null;
    return{fetch: function (a, b) {
      d = b;
      var c = document.createElement("script");
      c.type = "text/javascript";
      c.src = "http://cdn.syndication.twimg.com/widgets/timelines/" + a + "?&lang=en&callback=twitterFetcher.callback&suppress_response_codes=true&rnd=" + Math.random();
      document.getElementsByTagName("head")[0].appendChild(c)
    }, callback: function (a) {
      var b = document.createElement("div");
      b.innerHTML = a.body;
      a = b.getElementsByClassName("e-entry-title");
      d(a)
    }}
  }();

  twitterFetcher.fetch('463548433580580864', function (tweets) {
    // Do what you want with your tweets here! For example:
    var x = tweets.length;
    var element = document.getElementById('tweets');
    var html = '<ul>';
    for (var i = 0; i < 2; i++) {
      if (tweets[i].innerHTML) {
        html += '<li>' + tweets[i].innerHTML + '</li>';
      } else {
        html += '<li>' + tweets[i].textContent + '</li>';
      }
      //n++;
    }
    html += '</ul>';
    element.innerHTML = html;
  });

</script>
<!--twitter script end-->
<script src="/js/revolution-slider/js/jquery.themepunch.plugins.js"></script>
<script src="/js/revolution-slider/js/jquery.themepunch.revolution.js"></script>
<script src="/js/circle-flip-slideshow/js/jquery.flipshow.js"></script>