<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-ribon">
        <span>Get in Touch</span>
      </div>
      <div class="col-md-3">
        <h4>Newsletter</h4>

        <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our
          newsletter.</p>

        <div class="alert alert-success hidden" id="newsletterSuccess">
          <strong>Success!</strong> You've been added to our email list.
        </div>

        <div class="alert alert-error hidden" id="newsletterError"></div>

        <form class="form-inline" id="newsletterForm" action="#" method="POST">
          <div class="control-group">
            <div class="input-append">
              <input class="form-control" placeholder="Email Address" name="email" id="email" type="text">
              <button class="btn" type="submit">Go!</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <h4>Latest Tweet</h4>

        <div id="tweet" class="twitter" data-account-id="crivosthemes">

        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-details">
          <h4>Contact Us</h4>
          <ul class="contact">
            <li><p><i class="icon-map-marker"></i> <strong>Address:</strong> #538, 2nd Floor, 14th Cross,3rd Block,
              ViswaPriya Layout,Begur Main Road,Bangalore, India - 560068</p></li>
            <li><p><i class="icon-phone"></i> <strong>Phone:</strong> +91 973 878 0580</p></li>
            <li><p><i class="icon-envelope"></i> <strong>Email:</strong>
              <a href="mailto:mail@example.com">contact@moorem.com</a></p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Follow Us</h4>

        <div class="social-icons">
          <ul class="social-icons">
            <li class="facebook">
              <a href="https://www.facebook.com/mooremtech" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a>
            </li>
            <li class="twitter">
              <a href="https://twitter.com/mooremtech" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a>
            </li>
            <li class="linkedin">
              <a href="http://www.linkedin.com/company/moorem-technologies-pvt-ltd" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a href="index.html" class="logo">
            <img alt="Porto Website Template" src="assets/logo.png">
          </a>
        </div>
        <div class="col-md-7 margin-top-18">
          <p>© Copyright 2013 by Moorem Technologies Pvt. Ltd. All Rights Reserved.</p>
        </div>
        <div class="col-md-4 margin-top-18">
          <nav id="sub-menu">
            <ul>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>