<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Coming Soon</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

  <script type="text/javascript">
      Cufon.replace('h1', {fontFamily: 'Adobe Caslon Pro', hover:true})
  </script>
</head>
<body>
<div class="container_12" id="content">
  <h1>Moorem Info Solutions</h1>
  <h3>Our website is reconstructing, but you can still...</h3>
  <div class="main">
    <div class="mcontent">
      <div class="box mr20">
        <h2>Contact us</h2>
        <p>Phone : +91 9873496757<br/>
          Email : <a href="#">info@moorem.com</a></p>
      </div>
      <div class="box mr20">
        <h2>Visit us</h2>
        <p>170/47, Behind Delhi Public School
          Sector 47, Gurgoan 122001, India</p>
        <a class="get" href="#">Get Directions</a>
      </div>
      <div class="box2">
        <h2>Follow us</h2>
        <a href="#"><img src="/assets/t.png" alt=""/></a>
        <a href="#"><img src="/assets/f.png" alt=""/></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>