<p class='alert alert-success' id ="sucess_alert_newsletter"style="display:none; padding:3px"><a class='close' data-dismiss='alert' style="color:#000000 !important;" >x</a>Message sent! Thank you for contacting us.</p>
<%= form_tag send_newsletter_pages_path, :remote => true, :html => {:class => 'form-inline', :id => 'newsletterForm'} do |f| %>
  <fieldset>
    <div class="control-group">
      <div class="input-append">
        <%= text_field_tag :email, nil, :class => 'form-control', :id => 'email', required: true, placeholder: 'Please Enter Your Email',:style=>'width: auto; float: left; margin-right: 10px;' %>
        <!--<input class="form-control" placeholder="Email Address" name="email" id="email" type="text">-->
        <button class="btn btn-mobile" type="submit" style="margin: 0px;">Go!</button>
      </div>
    </div>
  </fieldset>
  <div class="success alert-success alert" style="display:none">Your message has been sent successfully.
  </div>
  <div class="error alert-error alert" style="display:none">E-mail must be valid and message must be longer
    than 100 characters.
  </div>
  <div class="clearfix">
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#sucess_alert_newsletter').remove();
    }, 5000);
  })
</script>
