<div role="main" class="main">

<section class="page-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="#">home</a></li>
          <li class="active">blog</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container">
<h2><strong>Blog</strong></h2>
<div class="row">
<div class="col-md-9">
  <div class="blog-posts">

    <article class="post post-medium-image">
      <div class="row">

        <!--<div class="col-md-4">
          <div class="post-image">
            <div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"controlNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 1}'>
              <ul class="slides">
                <li>
                  <img class="img-rounded" src="img/blog/blog-medium-image-1.jpg" alt="">
                </li>
                <li>
                  <img class="img-rounded" src="img/blog/blog-medium-image-2.jpg" alt="">
                </li>
                <li>
                  <img class="img-rounded" src="img/blog/blog-medium-image-3.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>-->
        <div class="col-md-9">

          <div class="post-content">
            <h2><a href="blog-post.html">Learn Ruby on Rails with this Step-by-step</a></h2>
            <p>
              To become a great developer, you have to follow these steps, where you will find all the basics:-
            <ul>
              <li>1. Master the basics of programming.</li>
              <li>2. Learn Ruby.</li>
              <li>3. Start out with simpler web frameworks.</li>
              <li>4. Get acquainted with Rails.</li>
              <li>5. Read the Rails tutorial</li>
              <li>6. Check out a guidebook or take a course</li>
              <li>7. Get involved in the Ruby on Rails community</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="post-meta">
            <span><i class="icon-calendar"></i> August 1, 2014 </span>
            <span><i class="icon-user"></i> By <a href="#">Moorem tech</a> </span>
            <span><i class="icon-tag"></i> <a href="#">ruby</a>, <a href="#">rails</a> </span>
            <span><i class="icon-comments"></i> <a href="#">0 Comments</a></span>
            <a href="blog-post.html" class="btn btn-mini btn-primary pull-right">Read more...</a>
          </div>
        </div>
      </div>

    </article>

    <!--<div class="pagination pagination-large pull-right">
      <ul>
        <li><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>-->

  </div>
</div>

<div class="col-md-3">
  <aside class="sidebar">

    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span2 search-query" placeholder="Search the blog...">
        <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
      </div>
    </form>

    <hr />

    <h4>Categories</h4>
    <ul class="nav nav-list primary pull-bottom">
      <li><a href="#">Design</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Lifestyle</a></li>
      <li><a href="#">Technology</a></li>
    </ul>

    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#popularPosts" data-toggle="tab"><i class="icon-star"></i> Popular</a></li>
        <li><a href="#recentPosts" data-toggle="tab">Recent</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="popularPosts">
          <ul class="simple-post-list">
            <li>
              <!--<div class="post-image">
                <div class="thumbnail">
                  <a href="blog-single.html">
                    <img src="img/blog/blog-thumb-1.jpg" alt="">
                  </a>
                </div>
              </div>-->
              <div class="post-info">
                <a href="blog-single.html">Learn Ruby on Rails with this Step-by-step</a>
                <div class="post-meta">
                  Aug 1, 2014
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="recentPosts">
          <ul class="simple-post-list">
            <li>
              <!--<div class="post-image">
                <div class="thumbnail">
                  <a href="blog-single.html">
                    <img src="img/blog/blog-thumb-2.jpg" alt="">
                  </a>
                </div>
              </div>-->
              <div class="post-info">
                <a href="blog-single.html">Learn Ruby on Rails with this Step-by-step</a>
                <div class="post-meta">
                  Aug 1, 2014
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr />

    <h4>About Us</h4>
    <p>Moorem is an Agile Web and Mobile application Development company. Our specialty is Ruby On Rails,
      Android, iPhone and Social Apps and our clients think we’re pretty good at it.</p>

  </aside>
</div>
</div>

</div>

</div>