<div role="main" class="main">

  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Who we are?</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--<h2>Team</h2>-->
        </div>
      </div>
    </div>
  </section>
  <div class="container">

    <h2>Who we are?</h2>
    <hr />
    <ul class="team-list sort-destination" data-sort-id="team" data-no-turbolink>
      <li class="isotope-item who-we-are">
        <div class="team-item thumbnail">
          <div class="who-we-are-img">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/ian_jones.jpg", :alt => "Thiyagarajan Veluchamy", :class=> 'img-responsive') %>
            </a>
									<span class="thumb-info-caption">
										<span class="thumb-info-social-icons">
                      <a target="_blank" href="http://github.com/" alt="Github handle gautamrege"><i class="icon-github"></i></a>
											<a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/"><i class="icon-facebook"></i><span>Facebook</span></a>
											<a rel="tooltip" data-placement="bottom" href="https://twitter.com/"><i class="icon-twitter"></i><span>Twitter</span></a>
											<a rel="tooltip" data-placement="bottom" href="http://in.linkedin.com/in/"><i class="icon-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
          </div>
          <div class="who-we-are-text">
            <h2>Ian Jones</h2>
            <h5>Bussiness Partner & Board Member</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </li>
      <li class="isotope-item who-we-are">
        <div class="team-item thumbnail">
          <div class="who-we-are-img">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/thiyagarajan.jpg", :alt => "Thiyagarajan Veluchamy", :class=> 'img-responsive') %>
            </a>
									<span class="thumb-info-caption">
										<span class="thumb-info-social-icons">
                      <a target="_blank" href="http://github.com/thiyagarajan" alt="Github handle gautamrege"><i class="icon-github"></i></a>
											<a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/thiyagarajannv" ><i class="icon-facebook"></i><span>Facebook</span></a>
											<a rel="tooltip" data-placement="bottom" href="https://twitter.com/thiyagarajannv"><i class="icon-twitter"></i><span>Twitter</span></a>
											<a rel="tooltip" data-placement="bottom" href="http://in.linkedin.com/in/thiyagarajanveluchamy"><i class="icon-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
          </div>
          <div class="who-we-are-text">
            <h2>Thiyagarajan Veluchamy</h2>
            <h5>Ruby/PHP developer/Designer</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </li>
      <li class="isotope-item who-we-are">
        <div class="team-item thumbnail">
          <div class="who-we-are-img">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/ankurgupta.jpg", :alt => "Ankur Gupta") %>
            </a>
									<span class="thumb-info-caption">
										<span class="thumb-info-social-icons">
                      <a target="_blank" href="http://github.com/ankurgupta" alt="Github handle gautamrege"><i class="icon-github"></i></a>
											<a rel="tooltip" data-placement="bottom" target="_blank" href="https://facebook.com/shank27"><i class="icon-facebook"></i><span>Facebook</span></a>
											<a rel="tooltip" data-placement="bottom" href="https://twitter.com/shanky59"><i class="icon-twitter"></i><span>Twitter</span></a>
											<a rel="tooltip" data-placement="bottom" href="http://in.linkedin.com/in/shank27"><i class="icon-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
        </div>
        <div class="who-we-are-text">
          <h2>Ankur Gupta</h2>
          <h5>Ruby/Android developer</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        </div>
      </li>
    </ul>


  </div>
</div>